<h1>Calculate your cost of parcels!</h1>
<form  action="/output">
  <div class="form-group">
    <label for="dimension">Dimension of your parcel</label>
    <input id="p" name="dimension" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="weight">Weight of your parcel</label>
    <input id="w" name="weight" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Check my cost</button>
</form>
